<h1>Destinations<h1>
<hr>

<p><a href="/destinations/new"> Add New Destination</a></p>

<% @destinations.each do |destination| %>
        <p><a href="/destinations/<%= destination.id %>"><%= destination.title%>
        </a></h3>
<% end %>

