<h1> My Travel Diary </h1><br>

<form action="/destinations" method="post">
    <input type="text" name="destination[title]" placeholder="Title" id="title"><br><br>
    <input type="date" name="destination[date]" id="date"><br><br>
    <input type="text" name="destination[season]" placeholder="Season" id="season"><br><br>
    <input type="text" name="destination[location]" placeholder="Location" id="location"><br><br>
    <input type="text" name="destination[attractions]" placeholder="Attractions" id="attractions"><br><br>
    <input type="text" name="destination[restaurants]" placeholder="Restaurants" id="restaurants"><br><br>
    <input type="text" name="destination[shopping]" placeholder="Shopping" id="shopping"><br><br>
    <textarea type="text" name="destination[content]" id="content" cols="30" rows="10" placeholder="Enter your travel story here..."></textarea><br><br>
    <button type="submit" class="btn waves-effect waves-light">
    <i class="material-icons right">send</i>
    Add Destination
    </button>
</form>
<!--
<input type="submit" value="Add Destination"> -->